body {
  margin: 33px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 17px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  font-weight: bold;
}

form {
margin-top: 0em;
}

.field {
  margin-bottom: 10px;
  }
  
  .book_title {
    display: inline-block;
  }
